*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-family: 'Open Sans', sans-serif;
}

/* COMANDI GENERALI */

.d-row, .positionNav > div{
    display: flex;
}

.d-column{
    display: flex;
    flex-direction: column;
}

.d-center, .positionNav > div, .startNow{
    justify-content: center;
    align-items: center;
}

.total-width{
    width: 100%;
}

.total-height{
    height: 100%!important;
}

.total-square{
    width: 100%;
    height: 100%;
}

.font-size-small,a{
    font-size: small;
}

/* css header */

header{
    justify-content: space-between;
    height: 7vh;
}

header > div{
    width: 50%;
}

.positionNav > div{
    margin: 0 15px;
}

.rightHeader{
    justify-content: end;
}

div > a{
    cursor: pointer;
}

.startButton{
    width: 50px;
}

.startButton a{
    height: 45%;
    background-color: rgb(0, 97, 255);
    color: white;
}

/* css main */

.blueBlock{
    height: 65vh;
    background-color: rgb(180, 208, 231);
    padding: 5% 10% 0 10%;
}

.blueBlock > div{
    height: 90%;
}

h1{
    font-size: xxx-large;
    font-weight: 800;
    height: 30%;
}

.flexStart{
    padding-top: 35px;
    height: 70%;
}

.paraFlex{
    width: 40%;
}

.paraFlex p{
    font-size: smaller;
    height: 40%;
}

.startNow{

    background-color: rgb(0, 97, 255);
    color: white;
    height: 15%;
    font-size: small;
    width: 70%;
    margin-top: 5px;
}

.cancel{
    justify-content: space-between;
    font-size: smaller;
    padding-top: 8%;
    height: 50%;
}

.imgFlex{
    width: 60%;
}

.whiteBlock{
    padding: 10% 25%;
}

h2{
    font-size: xx-large;
}

.select{
    margin-top: 40px;
    font-size: small;
}

.subscription > div{
    width:33%;
    border: 1px solid rgb(189, 189, 189);
    margin: 40px 10px 10px 10px;
    padding-bottom: 40px;
}

.head{
    display: flex;
    height: 5%;
    border-bottom: 1px solid rgb(189, 189, 189);
    font-size: small;
}

.head > i{
    margin-right: 5px;
}

.body{
    padding: 20px;
    height: 95%;
}

.number{
    height: 45px;
    justify-content: space-between;
    font-size: small;
    margin-top: 20px;
}

.caratteristiche{
    margin-top: 40px;
}

.caratteristiche > div{
    display: flex;
    font-size: small;
    margin: 5px 0;
}
.icon{
    margin-right: 4px;
}

.bloccoDiStart{
    justify-content: space-around;
    font-size: small;
    height: 20%;
}

.prova{
    height: 40px;
    margin-top: 30px
}

.smallLine{
    width: 20%;
    margin-top: 20px;
}

.puntiSalienti{
    margin-top: 50px;
    margin-bottom: 90px;
}

.elencoPunti > div{
    display: flex;
    font-size: small;
    margin-top: 10px;
}

.checkDiv{
    margin-right: 5px;
    color: #0062ff;
}

.office{
    height: 23vh;
    border: 1px solid rgb(189, 189, 189);
    margin-top: 60px; 
}

.enterprise{
    justify-content: space-between;
    height: 20%;
}

.startOffice{
    width: 30%;
    font-size: small;
    margin: 0;
}

.contact{
    height: 80%;
    width: 65%;
    justify-content: space-around;
    font-size: small;
}

.partner{
    height: 55vh;
    margin-top: 100px;
}

.partnerPicture{
    width: 60%;
}

.partnerDesc{
    width: 40%;
    padding: 50px 20px 20px 30px;
}

.partnerDesc p, .partnerDesc div{
    margin-top: 10px;
    font-size: small;
}

.partnerDesc div{
    width: 45%;
    height: 10%;
    border: 1px solid black;
    font-size: small;
    margin-top: 30px;
}

.grid > div{
    height: 50%;
}

.grid > div > div{
    width: calc(100% / 3);
    padding: 10px;
}

.pngGrid{
    height: 50%;
}

.pngGrid p{
    font-size: small;
}

.descGrid{
    height: 50%;
    justify-content: space-around;
}

.descGrid p{
    font-size: small;
}

.result{
    width: 60%;
    height: 15vh;
    justify-content: space-between;
    margin-top: 100px;
}

.colorBlock{
    height: 50vh;
}

.colorBlock > div{
    width: calc(100% / 3);
}

.icons > div{
    height: 50%;
}

.icons > div > div{
    width: 50%;
}

.icons img{
    width: 50%;
    
}

.designit{
    padding: 3%;
}

.designit img{
    width: 50%;
}

.designit hr{
    width: 20%;
    margin: 30px 0;
}

.designit p{
    font-size: small;
}

.lightBlueBlock{
    height: 30vh;
    background-color: rgb(180, 208, 231);
}

.startBusiness h2{
    width: 60%;
    color:rgb(98, 17, 55);
}

.startButtonBusiness{
    height: 40px;
    width: 23%;
    background-color: white;
    font-size: small;
}

.questions hr, .questions div{
    margin: 30px 0;
}

.questions div {
    justify-content: space-between;
    font-weight: bold;
    font-size: smaller;
}

/* footer css */

footer{
    height: 45vh;
    background-color: black;
    padding: 5% 15%;
    color: white;
}

.lastDiv{
    height: 65%;
}

.lastDiv > div{
    height: 100;
    width: 20%;

}

.lastDiv h4{
    margin-bottom: 20px;
}

.lastDiv span{
    margin-bottom: 5px;
    font-size: small;
}

